[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = https://github.com/aziz/tmuxinator
[submodule "reslate"]
	path = reslate
	url = https://github.com/lunixbochs/reslate
[submodule "dotjs"]
	path = dotjs
	url = git@github.com:defunkt/dotjs.git
