[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = https://github.com/aziz/tmuxinator
[submodule "reslate"]
	path = reslate
	url = https://github.com/lunixbochs/reslate
[submodule "rbenv/plugins/rbenv-bundle-exec"]
	path = rbenv/plugins/rbenv-bundle-exec
	url = https://github.com/maljub01/rbenv-bundle-exec.git
[submodule "rbenv/plugins/rbenv-gem-rehash"]
	path = rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
